@{
    Layout = null;
}
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/Style.css" rel="stylesheet" type="text/css" />
    <title>Sportall</title>
</head>
<ul id="welcome" class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Home" asp-action="Login">User Login</a></li>
    <li><a asp-area="" asp-controller="Sport" asp-action="Login">Admin Login</a></li>
</ul>

<img src="https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-red-running-sport-background-banner-image_139653.jpg" alt="banner" >
<h4>
    Sportall is an independent organisation that represents local sports clubs. <br /> 
    The main aim is to support clubs and promote sport. <br />
    Sportall has developed this website just for sporting activities. <br />
    Please sign in above to view all we have to offer!<br />
</h4>