@model SportsEvents.Models.Membership

<h1>Sports Events Membership</h1>
<!--Reference: https://www.c-sharpcorner.com/article/how-to-insert-data-to-database-using-model-in-asp-net-core-2-1-mvc-using-ado-net/ -->
<form asp-action="Membership" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Name:  </label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">DOB:   </label>
        <input asp-for="DOB" class="form-control" />
        <span asp-validation-for="DOB" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Gender:    </label>
        <input asp-for="Gender" class="form-control" />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Email:     </label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Telephone Number:      </label>
        <input asp-for="TelephoneNo" class="form-control" />
        <span asp-validation-for="TelephoneNo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Mobile Number:     </label>
        <input asp-for="MobileNo" class="form-control" />
        <span asp-validation-for="MobileNo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">House Number:      </label>
        <input asp-for="HouseNo" class="form-control" />
        <span asp-validation-for="HouseNo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Street Name:       </label>
        <input asp-for="StreetName" class="form-control" />
        <span asp-validation-for="StreetName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Postcode:  </label>
        <input asp-for="PostCode" class="form-control" />
        <span asp-validation-for="PostCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Work Location:     </label>
        <input asp-for="WorkLocation" class="form-control" />
        <span asp-validation-for="WorkLocation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Sport Activity:    </label>
        @Html.DropDownList("SportID", null, htmlAttributes: new { @class = "form-control"})
    </div>
    <div class="form-group">
        <label class="control-label">Biography:         </label>
        <input asp-for="Biography" class="form-control" />
        <span asp-validation-for="Biography" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Skills:        </label>
        <input asp-for="Skills" class="form-control" />
        <span asp-validation-for="Skills" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn bg-primary" />

    </div>
</form>
<br />
<br />
@{
    if (@TempData["Msg"] != null)
    {
        <script>

            alert('@TempData["msg"]')
        </script>

    }
}
