<!DocType html>
<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/Style.css" rel="stylesheet" type="text/css" />
    <title>Admin Management</title>
        
</head>
<body>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
           <li><a asp-area="" asp-controller="User" asp-action="Index">Membership Management</a></li>
            <li><a asp-area="" asp-controller="Sport" asp-action="Index">Event Management</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Logout</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>

</body>
</html>
